*{
    margin: 0;
    padding: 0;
}
.main_box{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
    
}